@import url('   fonts/main_font.css');

* {
    margin: 0;
    font-family: 'StratosSkyeng', sans-serif;
}

body {
    margin-left: calc(50% - 500px);
    margin-right: calc(50% - 500px);
}

.title {
    margin-bottom: 32px;
}

.name {
    font-size: 24px;
    margin-bottom: 12px;
}

.main-img {
    width: 50%;
    border-radius: 10px;
    margin-bottom: 24px;
}

.main-text {
    text-align: left;
    font-size: 22px;
    margin-bottom: 16px;
}

.list-title {
    text-align: left;
    font-size: 22px;
    margin-bottom: 24px;
}

.list {
    margin-bottom: 24px;
}

.listEl {
    text-align: left;
    font-size: 22px;
    margin-bottom: 24px;
}

.next-page {
    font-style: italic;
    font-size: 22px;
}

.prev-page {
    font-style: italic;
    margin-right: 64px;
    font-size: 22px;
}

.meme-img {
    width: 50%;
    border-radius: 12px;
}